@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    

    flex-direction: column;

    margin-bottom: 130px;
}



.body__BlockMainText{
    margin-bottom: 70px;
    display: flex;
}

.body__MainText{
    /* Заголовок H2 - Desktop */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* identical to box height, or 150% */

    text-transform: uppercase;

    /* Violet */

    color: #6D3496;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.regestretion_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.regestretion_form_MainText{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-transform: uppercase;

    /* Violet */

    color: #6D3496;

    margin-bottom: 20px;
}

.regestretion_form_text{
    /* Простой текст */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */

    text-align: center;

    /* Violet */

    color: #6D3496;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;

    margin-bottom: 30px;
}
.regestretion_form__BlockBtn{
    display: flex;
    justify-content: flex-start;
    width: 100%;

    margin-bottom: 30px;
}
.regestretion_form__btnmin{
    padding: 10px 15px;
    border: 2px solid #6D3496;
    border-radius: 3px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

.first_input{
    margin-right: 30px;
}

.regestretion_form_BlockMessage{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 30px;

}
.regestretion_form_message{
    border: 2px solid #6D3496;
    border-radius: 3px;
    padding: 10px 15px;
    width: 100%;
    height: 108px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
}

.regestretion_form_CheckBoxBlock{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    margin-bottom: 40px;
}

.regestretion_form_CheckBox{
    margin-right: 14px;
    align-self: center;
}

.regestretion_form_CheckBoxText{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* identical to box height, or 167% */


    /* Violet */

    color: #6D3496;
}

.regestretion_form_LinkBlock{
    justify-content: center;
    align-items: center;
}

.regestretion_form_LinkBlock{
    background: #6D3496;
    /* Ordinary shadow */
    
    border-radius: 3px;

    padding: 10px 25px;
}

.regestretion_form_Link{
        /* Текст кнопки */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */


    /* Transparent yellow */

    color: #FFFBF1;

}

footer{
    width: 100%;
    height: 433px;

    /* Violet */

    background: #6D3496;
}