@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

main{
    height: 348px;
    width: 608px;
    flex-direction: column;
    display: flex;
    background: #FFFBF1;
    flex-direction: column;
    padding: 25px 25px;
}

.main__ImgBlock{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.main__BlockMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.main__MainText{
    color: #6D3496;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;

    margin-bottom: 30px;
}

.main__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */

    text-align: center;

    /* Violet */

    color: #6D3496;
}

.main__BextText{
    margin-bottom: 30px;
}

.main__LinkBlock{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 10px 25px;
        
    background: #6D3496;
    /* Ordinary shadow */

    border-radius: 3px;

}

.main__link{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */


    /* White */

    color: #FFFFFF;
}